 
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size:20px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
 
.sales-ad {
  position: relative;
}

 
.newArrivals{
margin: 100px;
}
.newArrivals img{
 max-width: 300px;
  }

.favorite-button {
  background-color: black;
}

.favorite-button:hover {
  background-color: #ffd700;
  color: black;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.browse-page {  
  text-align: center; 
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.browse-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Default to 4 columns */
  gap: 10px; /* Adjust the gap as needed */
}

.product-row {
  margin-bottom: 20px;
}

.product-image {
  max-width: 290px;  
  height: auto;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product {
  margin-bottom: 20px;
  cursor: pointer;
}

.product-image:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 5);
}

h3 {
  font-size: 1.5em;
}

.product-name{
  margin-top: 20px;
  margin-bottom: 0px !important;
}
.product-price{
  color: #333;
}


/* For medium screens (e.g., tablets), use 3 columns */
@media screen and (max-width: 1024px) {
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For smaller screens (e.g., large phones), use 2 columns */
@media screen and (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* For extra small screens (e.g., small phones), use 1 column */
@media screen and (max-width: 680px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
/* For extra small screens (e.g., small phones), use 1 column */
@media screen and (max-width: 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}