 
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  font-size:20px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
.sales-ad{
  margin-top:80px;
}
.sales-ad {
  position: relative;
}

.sales-ad::before {
  content: "Explore Our Thrift Collection!!!"; /* Text to move across the image */
  position: absolute;
  top: 40%; /* Adjust vertical position as needed */
  left: 100%; /* Initial position (outside the image) */
  white-space: nowrap; /* Prevent text from wrapping */
  animation: moveText 20s linear infinite; /* Adjust duration as needed */
  color: white;
  font-size: 100px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 10);
}

@keyframes moveText {
  0% {
    left: 100%; /* Start position (outside the image) */
  }
  100% {
    left: -100%; /* End position (outside the image) */
  }
}

.newArrivals{
margin-top: 20px;
margin-bottom: 20px;
}

.favorite-button {
  background-color: black;
}

.favorite-button:hover {
  background-color: #ffd700;
  color: black;
  transform: scale(1.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.browse-page {  
  text-align: center; 
  background-color: white;
  height: 100hv;
  font-family: Arial, Helvetica, sans-serif;
}

.browse-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
}

.product-row {
  margin-bottom: 20px;
}

.product-image {
  max-width: 290px;  
  height: auto;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product {
  margin-bottom: 20px;
  cursor: pointer;
}

.product-image:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 5);
}

h3 {
  font-size: 1.5em;
}

@media screen and (max-width: 1200px){
  .product-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .product-list {
    display: flex;
    flex-direction: column;
  }
}