/* Cart.css */

/* Style for the cart container */
.cart-container {
  height: 100vh;
  max-width: 800px;
  margin: 100px auto 0; /* Updated margin-top to 100px */
}

/* Style for the cart list */
.cart-list {
  list-style: none;
  padding: 0;
}

/* Style for the cart item */
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cart-item-image {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
  object-fit: cover;
  border-radius: 5px; /* Add rounded corners to the image */
}

.cart-item-details {
  flex: 1; /* Expand to fill available space */
}

.cart-item-title {
  font-size: 18px;
  margin: 0;
}

.cart-item-price {
  margin: 0;
  color: #555;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
}

.cart-item-quantity span {
  margin-right: 5px;
}

.cart-item input[type="number"] {
  width: 40px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.remove-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #cc0000;
}

/* Style for the clear cart button */
.clear-cart-button {
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.clear-cart-button:hover {
  background-color: #006600;
}
