.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
  }
  
  .product-details h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .product-details img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .product-details p {
    font-size: 1.1em;
    line-height: 1.6;
    margin: 10px 0;
  }
  
  .product-details button {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .product-details button:hover {
    background-color: #ffd700;
    color: #000;
  }
  
  .product-details button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  