/* Login.css */

.login-container {
  background-image: url('../assets/images/background.png'); /* Update with the correct path */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;  
  text-align: center;
  background-color: #f0f0f0;  
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.create-account img {
  width: 50%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  
}

h1{
  font-size: 3em;  
  margin-bottom: 10px !important;
}
.create-account{
  margin: 0px;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-link {
   margin: 10px;
   color:white !important;
}

.login-form {
  text-align: center;
  width: 100%;  
  max-width: 400px; 
}

.login-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 10px;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.login-button {
  border: none; /* Remove border if not needed */
  padding: 0; /* Adjust padding as needed */
  background: none; /* Remove default background */
  cursor: pointer; /* To indicate it's clickable */
}

.login-button img {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* To remove any extra spacing inside the button */
}

 

.login-button:active {
  transform: translateY(0); /* Return the button to its original position when clicked */

  transition: transform 0.5s ease-in, box-shadow 0.5s ease-in; /* Smooth transition for active state */
}

/* If you have an image inside your button and want a different hover effect for it */
.login-button img:hover {
  transform: scale(1.1); /* Enlarge the image slightly on hover */
  transition: transform 0.5s ease-out; /* Slower transition with ease-out */
}
