.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 80px;
    padding: 0 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px; 
}

.logo {
    text-align: center;
    position: absolute;  
    left: 50%;
    transform: translateX(-50%);  
}
.logo a {
    font-size: 3em;
    margin-bottom: 20px;
    text-decoration: none !important;
    color: black !important;
  }

  .icons {
    display: flex;
    gap: 40px;  
    align-items: center;  
    margin-left: auto; 
    
}

.icons a i {
    font-size: 2em; 
    color: black; 
}

a{
    color: black !important;
}

.logout-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Times New Roman', Times, serif
}

.logout-button:hover {
    background-color: #ffd700;
    color: #000;
}

path:hover {
    fill: #ffd700;
}