/* Reset default styles for some elements */
body, p, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

.navbar-container {
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed; /* Set it to fixed */
  top: 0; /* Stick it to the top */
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.21s linear;
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 50px;
  position: relative; /* Add 'position: relative;' to center the navbar content */
}

/* Apply styles to the .logo */
.logo {
  text-align: left; /* Align the logo to the left */
  flex-grow: 1; /* Allow the logo to take up available space */
}

/* Apply styles to the .logo img */
.logo img {
  max-width: 20%;
  min-width: 15% !important;
  height: auto;
  padding-top: 15px;
}

/* Apply styles to .logo img:hover */
.logo img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-out;
}
 
/* Apply styles to the .icons */
.icons {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-left: auto;
}

/* Apply styles to .icons a i */
.icons a i {
  font-size: 2em;
  color: rgb(255, 255, 255);
}

/* Apply styles to .nav-item span */
.nav-item span {
  margin-left: 8px;
}

.nav-button {
  background-color: #ffd700;
  color: #ffffff;
  border: 1px solid black;
  padding: 10px 20px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style for the navbar buttons on hover */
.nav-button:hover {
  background-color: #000;
  color: #ffd700;
}

/* Remove underlines from the links within .nav-button */
.nav-button a {
  text-decoration: none;
}
