.navbar-container {
    background-image: url('../assets/images/background.png'); /* Update with the correct path */
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;  
    align-items: center;
    height: 85px;
    padding: 0 20px;
    z-index: 1000;
    margin: 0;
    transition-property: background-color;
    transition-duration: .21s;
    transition-timing-function: linear;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img {
    max-width: 25%; 
    height: auto; /* This will maintain the aspect ratio of the image */
    padding-top: 15px;
  }


 
.logo img:hover {
    transform: scale(1.1); /* Enlarge the image slightly on hover */
    transition: transform 0.5s ease-out; /* Slower transition with ease-out */
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 50px;
    position: relative;
}

.logo {
    text-align: center;
    position: absolute;  
    left: 50%;
    transform: translateX(-50%);  
}
.logo a {
    font-size: 3em;
    margin-bottom: 20px;
    text-decoration: none !important;
    color: rgb(255, 255, 255) !important;
  }

  .icons {
    display: flex;
    gap: 40px;  
    align-items: center;  
    margin-left: auto; 
    
}

.icons a i {
    font-size: 2em; 
    color: rgb(255, 255, 255); 
}

a{
    color: rgb(255, 255, 255) !important;
}

.logout-button {
    border: none; /* Remove border if not needed */
    padding: 0; /* Adjust padding as needed */
    background: none; /* Remove default background */
    cursor: pointer; /* To indicate it's clickable */
  }
  
  .logout-button img {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* To remove any extra spacing inside the button */
 
}
  
   
  
  .logout-button:active {
    transform: translateY(0); /* Return the button to its original position when clicked */
  
    transition: transform 0.5s ease-in, box-shadow 0.5s ease-in; /* Smooth transition for active state */
  }
  
  /* If you have an image inside your button and want a different hover effect for it */
  .logout-button img:hover {
    transform: scale(1.1); /* Enlarge the image slightly on hover */
    transition: transform 0.5s ease-out; /* Slower transition with ease-out */
  }

path:hover {
    fill: #ffd700;
}

.nav-item {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255); /* Ensure text color is white */
    text-decoration: none;
}

.nav-item span {
    margin-left: 8px; /* Space between icon and text */
}

.icons a:hover, .nav-item:hover {
    color: #ffd700; /* Change hover color as needed */
    transition: color 0.3s ease;
}

@media screen and (max-width: 850px) {
    .navbar {
        padding: 0 5px; /* Reduce padding */
        
    }

    .logo a {
        font-size: 1em; 
    }

    .icons {
        gap: 5px; 
    }

    .icons a i {
        font-size: 1.5em; 
    }

    .logout-button {
        padding: 8px 16px; 
    }
}

@media screen and (max-width: 600px) {
    .logo img {
        max-width: 50%; /* Increase the max-width for smaller screens */
        padding-top: 10px; /* Adjust padding if needed */
    }
}



.hamburger-icon {
    display: none; /* Initially hidden */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 25px; /* Height of the icon */
    width: 35px; /* Width of the icon */
  }
  
  .hamburger-icon div {
    width: 100%; /* Full width of the icon */
    height: 3px; /* Thickness of each line */
    background-color: #ffffff; /* Color of the hamburger lines */
    border: 1px solid black;
  }

  .hamburger-icon:hover {
    transform: scale(1.1); /* Enlarge the image slightly on hover */
    transition: transform 0.5s ease-out; /* Slower transition with ease-out */
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 700px) {
    .hamburger-icon {
      display: flex;
      color: black;
    }
    
    .icons {
        display: none; /* Hide by default */
        position: absolute; /* Position it below the navbar */
        top: 100%; /* Position it right below the navbar */
        left: 0;
        width: 100%; /* Full width */
        background-color: #fff; /* Background color, change as needed */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds a shadow for better visibility */
        z-index: 10; /* Ensure it's above other content */
        color: black;
      }
      
      .icons.open {
        display: block; /* Display as a block to list items in a column */
      }
      
      /* Styles for individual icon links */
      .icons a {
        display: block; /* Display links in block to stack them */
        padding: 10px; /* Add padding for touch targets, adjust as needed */
        color: black;/* Add other styles like text colors, hover effects, etc. */
      }
      
      /* Media Queries for Mobile View */
      @media screen and (max-width: 600px) {
        .hamburger-icon {
          display: flex;
        }
      
        .icons {
          display: none;
          color: black;
        }
      
        .icons.open {
          display: block;
        }
      }
  }
  
  