/* Signup.css */

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}
.sign-up-account img {
  width: 50%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
  
}

.sign-up-account{
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 600;
}

.signup-title {
  font-size: 3em;
  margin-bottom: 20px;
}

.signup-form {
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.signup-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
}

.signup-input:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.signup-button {
 margin-top: 20px;
 background-color: #ffffff00;
  border: 1px solid rgb(0, 0, 0) !important;
    color: #000000; 
 padding: 10px 20px !important; 
  cursor: pointer; 
  transition: color 0.3s;   
  }

  .signup-button:hover{
    color: rgb(245, 211, 19); 
  }


.signup-button img {
  width: 100px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* To remove any extra spacing inside the button */
}

.signup-button:active {
  transform: translateY(0);
  transition: transform 0.5s ease-in, box-shadow 0.5s ease-in; 
}

/* If you have an image inside your button and want a different hover effect for it */
.signup-button img:hover {
  transform: scale(1.1); /* Enlarge the image slightly on hover */
  transition: transform 0.5s ease-out; /* Slower transition with ease-out */
}



.login-link{
  margin: 10px;
  color: rgb(0, 0, 0);
}



 

